body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 45%;
    margin: auto;
}

h1 {
    font-weight: 500;
    text-align: center;
    background: rgb(0, 12, 116);
    background: linear-gradient(90deg, rgba(0, 12, 116, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(255, 0, 181, 1) 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
    border: 1px solid rgb(154, 154, 154);
    display: flex;
}

input {
    width: 95%;
    height: 30px;
    padding-left: 10px;
}

#searchbtn {
    border: none;
    width: 35px;
    background-color: #21008e;
    color: white;
}

i {
    font-size: 20px;
}

#cards {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.productCard>div {
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productCard>div>img {
    width: 100%;
    height: 110px;
}

.productCard>p {
    text-align: center;
}

h2{
    font-size: xx-large;
}

.carousel-inner>div>img{
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: auto;
    }
    h1{
        font-size:25px;
    }
}

@media (max-width: 468px) {
    #cards{
        grid-template-columns: repeat(2,1fr);
    }
}
